# Importing necessary modules

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
%matplotlib inline

## Loading training data that contains already released movies that were scraped using tweepy api

In [62]:
train = pd.read_csv(r"normalized_test.csv")#, encoding = "latin1")
test = pd.read_csv(r"tweets_new.csv")
train.shape

(1969, 11)

In [63]:
train.head()

,tweetID,movies_movieName,dateTime,tweet,result,confidence,boxoffice,num_sentiment,movie_ID,starmeter,theatrecount
0,1.071110e+18,A Star is Born,12/7/2018 13:35,@ladygaga U deserve it so much,neg,1.0,194356626.0,0.0,1.0,182.0,3904.0
1,1.071110e+18,Venom,12/7/2018 13:35,I DIDNT KNOW VENOM WAS BACK IT LOOKS SO BEAUTI...,neg,0.8,212376051.0,0.0,10.0,80.0,4250.0
2,1.071110e+18,Robin Hood,12/7/2018 13:36,"Robinhood (the new one w/ Jamie Foxx), Aquaman...",neg,1.0,23300536.0,0.0,9.0,63.0,2827.0
3,1.071110e+18,Venom,12/7/2018 13:36,"deg God won't stop the snake from biting you, ...",neg,0.8,212376051.0,0.0,10.0,80.0,4250.0
4,1.071110e+18,Creed II,12/7/2018 13:36,Watched #Creed2 - highly recommend.,neg,0.6,85041763.0,0.0,3.0,67.0,3576.0

In [64]:
print("Number of missing values is",test.isna().sum().sum())

Number of missing values is 624

## Preprocessing input data by cleaning cells which has no values

In [65]:
train_clean = train.dropna()
train.head()
train_clean.shape

(1605, 11)

In [66]:
test_clean = test.dropna()
test.head()
test_clean.shape

(25560, 10)

In [67]:
print("Number of missing values is",train_clean.isna().sum().sum())

Number of missing values is 0

In [68]:
print("Number of missing values is",test_clean.isna().sum().sum())

Number of missing values is 0

## Calculating standard deviation, mean based on confidence and sentiment, which is used to convert them into one of the feature sets

In [88]:
m=train_clean.groupby('movie_ID')[['num_sentiment']].std()

In [89]:
a=test_clean.groupby('movie_ID')[['num_sentiment']].std()

In [90]:
n=train_clean.groupby('movie_ID')[['num_sentiment']].std()

In [91]:
b=test_clean.groupby('movie_ID')[['num_sentiment']].std()

In [92]:
o=train_clean.groupby('movie_ID')[['confidence']].std()

In [93]:
c=test_clean.groupby('movie_ID')[['confidence']].std()

In [94]:
p=train_clean.groupby('movie_ID')[['confidence']].mean()

In [95]:
d=test_clean.groupby('movie_ID')[['confidence']].mean()

## Merging the above dataframes

In [96]:
x=pd.merge(m, n, on='movie_ID')
y=pd.merge(o, p, on='movie_ID')
z=pd.merge(x, y, on='movie_ID')

z = z.rename(columns={'num_sentiment_x': 'std_dev_sent', 'num_sentiment_y': 'mean_sent', 'confidence_x': 'std_dev_conf', 'confidence_y': 'mean_conf'})
print(z)

          std_dev_sent  mean_sent  std_dev_conf  mean_conf
movie_ID
1.0           0.444880   0.444880      0.125356   0.853139
2.0           0.467099   0.467099      0.174773   0.836364
3.0           0.466694   0.466694      0.142489   0.896970
5.0           0.390021   0.390021      0.101575   0.907143
6.0           0.477567   0.477567      0.140175   0.866667
7.0           0.461057   0.461057      0.129362   0.856716
8.0           0.413701   0.413701      0.132039   0.873333
9.0           0.410391   0.410391      0.119649   0.920000
10.0          0.373646   0.373646      0.130322   0.878963
11.0          0.410414   0.410414      0.146592   0.875000

In [97]:
f=pd.merge(a, b, on='movie_ID')
g=pd.merge(c, d, on='movie_ID')
h=pd.merge(x, y, on='movie_ID')
h = h.rename(columns={'num_sentiment_x': 'std_dev_sent', 'num_sentiment_y': 'mean_sent', 'confidence_x': 'std_dev_conf', 'confidence_y': 'mean_conf'})
print(h)

          std_dev_sent  mean_sent  std_dev_conf  mean_conf
movie_ID
1.0           0.444880   0.444880      0.125356   0.853139
2.0           0.467099   0.467099      0.174773   0.836364
3.0           0.466694   0.466694      0.142489   0.896970
5.0           0.390021   0.390021      0.101575   0.907143
6.0           0.477567   0.477567      0.140175   0.866667
7.0           0.461057   0.461057      0.129362   0.856716
8.0           0.413701   0.413701      0.132039   0.873333
9.0           0.410391   0.410391      0.119649   0.920000
10.0          0.373646   0.373646      0.130322   0.878963
11.0          0.410414   0.410414      0.146592   0.875000

In [98]:
h1 = train_clean.drop(columns=["tweetID", "movies_movieName", "dateTime","tweet","result", "confidence","num_sentiment"])
h1.head

<bound method NDFrame.head of         boxoffice  movie_ID  starmeter  theatrecount
0     194356626.0       1.0      182.0        3904.0
1     212376051.0      10.0       80.0        4250.0
2      23300536.0       9.0       63.0        2827.0
3     212376051.0      10.0       80.0        4250.0
4      85041763.0       3.0       67.0        3576.0
5     194356626.0       1.0      182.0        3904.0
6      34638624.0       8.0      157.0        2393.0
7     194356626.0       1.0      182.0        3904.0
8     194356626.0       1.0      182.0        3904.0
9     194356626.0       1.0      182.0        3904.0
10     34638624.0       8.0      157.0        2393.0
11     34638624.0       8.0      157.0        2393.0
12    212376051.0      10.0       80.0        4250.0
13    212376051.0      10.0       80.0        4250.0
14    173958573.0       7.0      108.0        3865.0
15    137596591.0       6.0       54.0        4163.0
16     34638624.0       8.0      157.0        2393.0
17    194356626.0       1.0      182.0        3904.0
18    194356626.0       1.0      182.0        3904.0
19    173958573.0       7.0      108.0        3865.0
20    212376051.0      10.0       80.0        4250.0
21    212376051.0      10.0       80.0        4250.0
22     34638624.0       8.0      157.0        2393.0
23    212376051.0      10.0       80.0        4250.0
24    194356626.0       1.0      182.0        3904.0
25    194356626.0       1.0      182.0        3904.0
26    212376051.0      10.0       80.0        4250.0
27     34638624.0       8.0      157.0        2393.0
28    212376051.0      10.0       80.0        4250.0
29    700059566.0       5.0       65.0        4084.0
...           ...       ...        ...           ...
1839  194356626.0       1.0      182.0        3904.0
1840  194356626.0       1.0      182.0        3904.0
1841  194356626.0       1.0      182.0        3904.0
1842  194356626.0       1.0      182.0        3904.0
1843  194356626.0       1.0      182.0        3904.0
1844  212376051.0      10.0       80.0        4250.0
1845  194356626.0       1.0      182.0        3904.0
1846  194356626.0       1.0      182.0        3904.0
1847  194356626.0       1.0      182.0        3904.0
1848  194356626.0       1.0      182.0        3904.0
1849  194356626.0       1.0      182.0        3904.0
1850  194356626.0       1.0      182.0        3904.0
1851  194356626.0       1.0      182.0        3904.0
1852  194356626.0       1.0      182.0        3904.0
1853  194356626.0       1.0      182.0        3904.0
1854  194356626.0       1.0      182.0        3904.0
1855  194356626.0       1.0      182.0        3904.0
1856  194356626.0       1.0      182.0        3904.0
1857  194356626.0       1.0      182.0        3904.0
1858  194356626.0       1.0      182.0        3904.0
1859  194356626.0       1.0      182.0        3904.0
1860  194356626.0       1.0      182.0        3904.0
1862  700059566.0       5.0       65.0        4084.0
1863  173958573.0       7.0      108.0        3865.0
1864  194356626.0       1.0      182.0        3904.0
1865  194356626.0       1.0      182.0        3904.0
1866  194356626.0       1.0      182.0        3904.0
1867  194356626.0       1.0      182.0        3904.0
1868  194356626.0       1.0      182.0        3904.0
1869  194356626.0       1.0      182.0        3904.0

[1605 rows x 4 columns]>

In [99]:
r1 = test_clean.drop(columns=["tweetID", "movies_movieName", "dateTime","tweet","result", "confidence","num_sentiment"])
r1.head

<bound method NDFrame.head of        theatrecount  starmeter  movie_ID
0            3000.0      621.0       3.0
1            3000.0      621.0       3.0
2            3000.0      621.0       3.0
3            3000.0      621.0       3.0
4            4160.0       53.0       6.0
5            3000.0      621.0       3.0
6            3000.0      621.0       3.0
7            4000.0      581.0       7.0
8            3000.0      621.0       3.0
9            3000.0      621.0       3.0
10           4125.0       36.0       2.0
11           3000.0      621.0       3.0
12           3000.0      621.0       3.0
13           3000.0      621.0       3.0
14           3000.0      621.0       3.0
15           3000.0      621.0       3.0
16           3000.0      621.0       3.0
17           3000.0      621.0       3.0
18           3000.0      621.0       3.0
19           4125.0       36.0       2.0
20           3000.0      621.0       3.0
21           4125.0       36.0       2.0
22           3000.0      621.0       3.0
23           3000.0      621.0       3.0
24           3000.0      621.0       3.0
25           3000.0      621.0       3.0
26           4000.0      581.0       7.0
27           3000.0      621.0       3.0
28           3000.0      621.0       3.0
29           3000.0      621.0       3.0
...             ...        ...       ...
25689        4432.0       80.0       4.0
25690        4432.0       80.0       4.0
25691        4432.0       80.0       4.0
25692        4432.0       80.0       4.0
25693        4432.0       80.0       4.0
25694        4432.0       80.0       4.0
25695        4160.0       53.0       6.0
25696        3250.0      302.0       5.0
25697        4432.0       80.0       4.0
25698        4432.0       80.0       4.0
25699        4432.0       80.0       4.0
25700        4432.0       80.0       4.0
25701        4432.0       80.0       4.0
25702        4432.0       80.0       4.0
25703        4432.0       80.0       4.0
25704        4160.0       53.0       6.0
25705        4125.0       36.0       2.0
25706        4432.0       80.0       4.0
25707        3000.0      621.0       3.0
25708        4432.0       80.0       4.0
25709        4432.0       80.0       4.0
25710        4000.0      581.0       7.0
25711        4432.0       80.0       4.0
25712        4432.0       80.0       4.0
25713        4432.0       80.0       4.0
25714        3000.0      621.0       3.0
25715        4432.0       80.0       4.0
25716        4432.0       80.0       4.0
25717        4432.0       80.0       4.0
25718        4432.0       80.0       4.0

[25560 rows x 3 columns]>

In [100]:
result=pd.merge(h1, z, on='movie_ID')
result.head

<bound method NDFrame.head of         boxoffice  movie_ID  starmeter  theatrecount  std_dev_sent  mean_sent  \
0     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
1     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
2     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
3     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
4     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
5     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
6     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
7     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
8     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
9     194356626.0       1.0      182.0        3904.0      0.444880   0.444880
10    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
11    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
12    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
13    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
14    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
15    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
16    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
17    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
18    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
19    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
20    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
21    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
22    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
23    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
24    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
25    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
26    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
27    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
28    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
29    194356626.0       1.0      182.0        3904.0      0.444880   0.444880
...           ...       ...        ...           ...           ...        ...
1575  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1576  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1577  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1578  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1579  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1580  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1581  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1582  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1583  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1584  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1585  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1586  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1587  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1588  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1589  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1590  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1591  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1592  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1593  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1594  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1595  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1596  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1597  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1598  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1599  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1600  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1601  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1602  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1603  166838160.0      11.0       36.0        3007.0      0.410414   0.410414
1604  166838160.0      11.0       36.0        3007.0      0.410414   0.410414

      std_dev_conf  mean_conf
0         0.125356   0.853139
1         0.125356   0.853139
2         0.125356   0.853139
3         0.125356   0.853139
4         0.125356   0.853139
5         0.125356   0.853139
6         0.125356   0.853139
7         0.125356   0.853139
8         0.125356   0.853139
9         0.125356   0.853139
10        0.125356   0.853139
11        0.125356   0.853139
12        0.125356   0.853139
13        0.125356   0.853139
14        0.125356   0.853139
15        0.125356   0.853139
16        0.125356   0.853139
17        0.125356   0.853139
18        0.125356   0.853139
19        0.125356   0.853139
20        0.125356   0.853139
21        0.125356   0.853139
22        0.125356   0.853139
23        0.125356   0.853139
24        0.125356   0.853139
25        0.125356   0.853139
26        0.125356   0.853139
27        0.125356   0.853139
28        0.125356   0.853139
29        0.125356   0.853139
...            ...        ...
1575      0.146592   0.875000
1576      0.146592   0.875000
1577      0.146592   0.875000
1578      0.146592   0.875000
1579      0.146592   0.875000
1580      0.146592   0.875000
1581      0.146592   0.875000
1582      0.146592   0.875000
1583      0.146592   0.875000
1584      0.146592   0.875000
1585      0.146592   0.875000
1586      0.146592   0.875000
1587      0.146592   0.875000
1588      0.146592   0.875000
1589      0.146592   0.875000
1590      0.146592   0.875000
1591      0.146592   0.875000
1592      0.146592   0.875000
1593      0.146592   0.875000
1594      0.146592   0.875000
1595      0.146592   0.875000
1596      0.146592   0.875000
1597      0.146592   0.875000
1598      0.146592   0.875000
1599      0.146592   0.875000
1600      0.146592   0.875000
1601      0.146592   0.875000
1602      0.146592   0.875000
1603      0.146592   0.875000
1604      0.146592   0.875000

[1605 rows x 8 columns]>

In [101]:
result1=pd.merge(r1, h, on='movie_ID')
result1.head

<bound method NDFrame.head of       theatrecount  starmeter  movie_ID  std_dev_sent  mean_sent  \
0           3000.0      621.0       3.0      0.466694   0.466694
1           3000.0      621.0       3.0      0.466694   0.466694
2           3000.0      621.0       3.0      0.466694   0.466694
3           3000.0      621.0       3.0      0.466694   0.466694
4           3000.0      621.0       3.0      0.466694   0.466694
5           3000.0      621.0       3.0      0.466694   0.466694
6           3000.0      621.0       3.0      0.466694   0.466694
7           3000.0      621.0       3.0      0.466694   0.466694
8           3000.0      621.0       3.0      0.466694   0.466694
9           3000.0      621.0       3.0      0.466694   0.466694
10          3000.0      621.0       3.0      0.466694   0.466694
11          3000.0      621.0       3.0      0.466694   0.466694
12          3000.0      621.0       3.0      0.466694   0.466694
13          3000.0      621.0       3.0      0.466694   0.466694
14          3000.0      621.0       3.0      0.466694   0.466694
15          3000.0      621.0       3.0      0.466694   0.466694
16          3000.0      621.0       3.0      0.466694   0.466694
17          3000.0      621.0       3.0      0.466694   0.466694
18          3000.0      621.0       3.0      0.466694   0.466694
19          3000.0      621.0       3.0      0.466694   0.466694
20          3000.0      621.0       3.0      0.466694   0.466694
21          3000.0      621.0       3.0      0.466694   0.466694
22          3000.0      621.0       3.0      0.466694   0.466694
23          3000.0      621.0       3.0      0.466694   0.466694
24          3000.0      621.0       3.0      0.466694   0.466694
25          3000.0      621.0       3.0      0.466694   0.466694
26          3000.0      621.0       3.0      0.466694   0.466694
27          3000.0      621.0       3.0      0.466694   0.466694
28          3000.0      621.0       3.0      0.466694   0.466694
29          3000.0      621.0       3.0      0.466694   0.466694
...            ...        ...       ...           ...        ...
3909        4279.0      350.0       8.0      0.413701   0.413701
3910        4279.0      350.0       8.0      0.413701   0.413701
3911        4279.0      350.0       8.0      0.413701   0.413701
3912        4279.0      350.0       8.0      0.413701   0.413701
3913        4279.0      350.0       8.0      0.413701   0.413701
3914        4279.0      350.0       8.0      0.413701   0.413701
3915        4279.0      350.0       8.0      0.413701   0.413701
3916        4279.0      350.0       8.0      0.413701   0.413701
3917        4279.0      350.0       8.0      0.413701   0.413701
3918        4279.0      350.0       8.0      0.413701   0.413701
3919        4279.0      350.0       8.0      0.413701   0.413701
3920        4279.0      350.0       8.0      0.413701   0.413701
3921        4279.0      350.0       8.0      0.413701   0.413701
3922        4279.0      350.0       8.0      0.413701   0.413701
3923        4279.0      350.0       8.0      0.413701   0.413701
3924        4279.0      350.0       8.0      0.413701   0.413701
3925        4279.0      350.0       8.0      0.413701   0.413701
3926        4279.0      350.0       8.0      0.413701   0.413701
3927        4279.0      350.0       8.0      0.413701   0.413701
3928        4279.0      350.0       8.0      0.413701   0.413701
3929        4279.0      350.0       8.0      0.413701   0.413701
3930        4279.0      350.0       8.0      0.413701   0.413701
3931        4279.0      350.0       8.0      0.413701   0.413701
3932        4279.0      350.0       8.0      0.413701   0.413701
3933        4279.0      350.0       8.0      0.413701   0.413701
3934        4279.0      350.0       8.0      0.413701   0.413701
3935        4279.0      350.0       8.0      0.413701   0.413701
3936        4279.0      350.0       8.0      0.413701   0.413701
3937        4279.0      350.0       8.0      0.413701   0.413701
3938        4279.0      350.0       8.0      0.413701   0.413701

      std_dev_conf  mean_conf
0         0.142489   0.896970
1         0.142489   0.896970
2         0.142489   0.896970
3         0.142489   0.896970
4         0.142489   0.896970
5         0.142489   0.896970
6         0.142489   0.896970
7         0.142489   0.896970
8         0.142489   0.896970
9         0.142489   0.896970
10        0.142489   0.896970
11        0.142489   0.896970
12        0.142489   0.896970
13        0.142489   0.896970
14        0.142489   0.896970
15        0.142489   0.896970
16        0.142489   0.896970
17        0.142489   0.896970
18        0.142489   0.896970
19        0.142489   0.896970
20        0.142489   0.896970
21        0.142489   0.896970
22        0.142489   0.896970
23        0.142489   0.896970
24        0.142489   0.896970
25        0.142489   0.896970
26        0.142489   0.896970
27        0.142489   0.896970
28        0.142489   0.896970
29        0.142489   0.896970
...            ...        ...
3909      0.132039   0.873333
3910      0.132039   0.873333
3911      0.132039   0.873333
3912      0.132039   0.873333
3913      0.132039   0.873333
3914      0.132039   0.873333
3915      0.132039   0.873333
3916      0.132039   0.873333
3917      0.132039   0.873333
3918      0.132039   0.873333
3919      0.132039   0.873333
3920      0.132039   0.873333
3921      0.132039   0.873333
3922      0.132039   0.873333
3923      0.132039   0.873333
3924      0.132039   0.873333
3925      0.132039   0.873333
3926      0.132039   0.873333
3927      0.132039   0.873333
3928      0.132039   0.873333
3929      0.132039   0.873333
3930      0.132039   0.873333
3931      0.132039   0.873333
3932      0.132039   0.873333
3933      0.132039   0.873333
3934      0.132039   0.873333
3935      0.132039   0.873333
3936      0.132039   0.873333
3937      0.132039   0.873333
3938      0.132039   0.873333

[3939 rows x 7 columns]>

## Creating the samples and features to create the shape for multivariate regression

In [84]:
n,d = result.shape
print("Number of features:", d)
print("Number of samples:", n)

Number of features: 8
Number of samples: 1605

## Training with 8 features and y-axis as box office results to be predicted

In [85]:
Xtrain = result.iloc[:,1:8]
#Xtrain.head
ytrain = result.iloc[:,0]
ytrain.head

<bound method NDFrame.head of 0       194356626.0
1       194356626.0
2       194356626.0
3       194356626.0
4       194356626.0
5       194356626.0
6       194356626.0
7       194356626.0
8       194356626.0
9       194356626.0
10      194356626.0
11      194356626.0
12      194356626.0
13      194356626.0
14      194356626.0
15      194356626.0
16      194356626.0
17      194356626.0
18      194356626.0
19      194356626.0
20      194356626.0
21      194356626.0
22      194356626.0
23      194356626.0
24      194356626.0
25      194356626.0
26      194356626.0
27      194356626.0
28      194356626.0
29      194356626.0
           ...
1575    166838160.0
1576    166838160.0
1577    166838160.0
1578    166838160.0
1579    166838160.0
1580    166838160.0
1581    166838160.0
1582    166838160.0
1583    166838160.0
1584    166838160.0
1585    166838160.0
1586    166838160.0
1587    166838160.0
1588    166838160.0
1589    166838160.0
1590    166838160.0
1591    166838160.0
1592    166838160.0
1593    166838160.0
1594    166838160.0
1595    166838160.0
1596    166838160.0
1597    166838160.0
1598    166838160.0
1599    166838160.0
1600    166838160.0
1601    166838160.0
1602    166838160.0
1603    166838160.0
1604    166838160.0
Name: boxoffice, Length: 1605, dtype: float64>

In [102]:
Xtest = result.iloc[:,1:8]
ytest = result.iloc[:,0]
Xval = result1

## Multivariate Regression and its outputs

In [111]:
regr1 = linear_model.LinearRegression()
regr1.fit(Xtrain, ytrain)

ypred = regr1.predict(Xtest)
yval = regr1.predict(Xval)
#print(Xval[1],yval)
print(yval)
print('Features selected: \n', regr1.coef_.nonzero()[0].size)
print("The MSE of the model is: %.2f" % mean_squared_error(ytest, ypred))
print('Variance score: %.2f' % r2_score(ytest, ypred))

[-1.50447347e+11 -1.50447347e+11 -1.50447347e+11 ... -2.11781121e+11
 -2.11781121e+11 -2.11781121e+11]
Features selected:
 7
The MSE of the model is: 714375847700859.25
Variance score: 0.90